name: Build Flet APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: |
          pip install flet fpdf2

      - name: Build APK
        run: |
          # ਕਿਉਂਕਿ ਤੁਸੀਂ ਫਾਈਲ ਦਾ ਨਾਮ main.py ਰੱਖ ਦਿੱਤਾ ਹੈ, ਹੁਣ ਸਿਰਫ਼ ਇਹ ਕਮਾਂਡ ਚੱਲੇਗੀ
          flet build apk
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Punjab-Zamin-APK
          path: build/apk/*.apk
